*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}
section{
    max-width: 1440px;
    margin: 0 auto;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body{
    font-family: "Alata", sans-serif;
    font-weight: 400;
}

.home{
    width: 100%;
    height: 80vh;
    background-image: url(./image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    padding: 20px 5%;
    position: relative;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav .loopstudio{
    font-weight: 900;
    font-size: 35px;
    color: #ffffff;
}

nav ul li{
    display: inline-block;
    padding: 15px;
}

nav ul li a{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
}

header .inn{
    max-width: 500px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 30px 40px;
    font-size: 50px;
    position: relative;
    top: 20vh;
    line-height: 45px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}
.second{
    display: flex;
    padding: 10%;
    width: 99%;
    position: relative;
    
    
}
.second img{
    width: 50%;
}
.second div{
    width: 100%;
    position: relative; 
}
h6{
    position: absolute;
    bottom: 40%;
    left: 10%;
    font-size: 20px;
}
.second p{
    position: absolute;
    bottom: 0;
    left:10% ;
}
.third{
    font-size: 20px;
    padding: 50px;
}

.thrid_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.third a{
    border: 1px solid black;
    width: 15vw;
    text-align: center;
    color: black;
    padding: 20px 0;
}
.third P {
    font-size: 30px;
    text-transform: uppercase;
/* }
.fourth{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    width: 88vw;
    padding-left: 10%;
    padding-top: 4%;
     */
}

/* .b p{
    position: relative;
    bottom: 100px;
    font-size: 30px;
    left: 40px;
    color: white;
    font-weight: 100;
        width: 5%;}
.a p{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    left: 40px;
    color: white;
    font-weight: 100;
    width: 5%;
}
.e p{
    position: relative;
    bottom: 70px;
    font-size: 20px;
    left: 20px;
    color: white;
    font-weight: 100;
    width: 7%;
}
.c p{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    left: 40px;
    color: white;
    font-weight: 100;
    width: 5%;
}
.d p{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    left: 40px;
    color: white;
    font-weight: 100;
    width: 5%;
}
.f P{
    position: relative;
    bottom: 70px;
    font-size: 20px;
    left: 20px;
    color: white;
    font-weight: 100;
    width: 5%;
}
.G P{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    left: 20px;
    color: white;
    font-weight: 100;
    width: 5%;
}
.H P{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    left: 20px;
    color: white;
    font-weight: 100;
    width: 5%;
} */

.fifth{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 150px;
    
}

footer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* padding:0 1%; */
}
.fifth p{
    padding: 2% 4%;
    text-transform: capitalize;
}
ol{
    display: flex;
    gap: 20px;
    padding: 0 4%;
    text-transform: capitalize;
    
}
.logo{
        position: relative;
       
        fill: white;
        padding-left: 90%;
        bottom: 60px;
    
}
@media screen and (max-width : 900px) {
    .second{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .second img{
        width: 100%;
        background-image: url(mobile\ image-interactive.jpg);
    }
    .home ul{
        display: none
    }
    .second div{
        margin: 7% 0;
    }
    h6{
        position: relative;
    }
    .second p{
        position: unset;
        padding-top: 20px;
    
        font-size: 20px;
    }
    .home{
        background-image: url(mobile\ image-hero.jpg);
    }
    .third a{
        display: none;
    }
    .third{
        justify-content: center;
    }
    
 
    .fifth p{
        padding-left: 35%;
        font-size: 40px;
        font-weight: 700 ;
        text-transform: capitalize;
    }
    .fifth {
        justify-content: center;
        height: 60vh;
     
    }
    ol {
        display: flex;
        flex-direction: column;
        padding-left: 45%;
        font-size: 20px;
        padding-top: 10%;
    
    }
    i{
        width: 10%;
    }
    .logo{
        position: relative;
        top: 40px;
        fill: white;
        padding-left: 40%;
    }
    
}

.fourth_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 30px;
    justify-content: center;
    position: relative;
   
}

.painer_jhd{
    background-image: url(./image-deep-earth.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    font-weight: 100;
}
.im2{
    background-image: url(image-night-arcade.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px; 
}
.im3{
    background-image: url(image-soccer-team.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}
.im4{
    background-image: url(image-grid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}
.im5{
    background-image: url(image-from-above.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}
.im6{
    background-image: url(image-pocket-borealis.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}

.im7{
    background-image: url(image-curiosity.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}

.im8{
    background-image: url(image-fisheye.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}

.fourth_container p{
     position: relative;
    top: 300px; 
    width: 10vw;
    margin-left: 17%;
    color: white;
    
}